<table id="comments-table">
  {{log this}}
  {{#each this.notes}}
    <tr class="comments-table-row">
      <td>
        <div>
          <p><i>"{{this.body}}"</i> - {{this.title}}</p>
        </div>
      </td>
      <td style="vertical-align:middle" >
          <a class="article-comment" href="#" alt="Delete this comment." data-id="{{_id}}"><i class="fas fa-trash-alt fa-2x"></i></a>
      </td>
    </tr>
  {{/each}}
</table>



